<div class="container">
    <h1><%= title %></h1>
</div>
<img class="proPic" src="./content/images/Cymantha Diesel.png" alt="Cymantha Diesel">
<div class="inline">
    <p>
    Born and raised in a small town, I grew up as one of those kids that longed for adventure and to leave the small town in search of this adventure as soon as I was able. 
    And that is what I did. Since growing up and moving away I have found my adventure through travel, hiking and reading as many epic fantasy novels as I can get my hands on. 
    When I am not stuck in a book or lost in the mountains, I love learning new things and exploring my new career in Technology.
    </p>
</div>
<div class="box">
    <p>To view a recent version of my resume, click the button below.</p>
    <button><a href="/public/content/Resume/Cymantha Diesel - Resume.pdf" id="button">Resume</a></button>
</div>
<br>
<br>