<div class="container">
    <h1><%= title %></h1>
</div>
<div class="inline">
    <p><i class="fa-solid fa-phone space"></i> 587-982-9933</p><br>
    <p><i class="fa-regular fa-paper-plane space"></i> cymantha.diesel@gmail.com</p><br>
    <p><i class="fa-brands fa-linkedin space"></i> <a href="https://www.linkedin.com/in/cymantha-diesel-416b91204/" class="black">Cymantha Diesel - LinkedIn</a></p><br>
    <p><i class="fa-brands fa-instagram space"></i> <a href="https://www.instagram.com/cymanthadiesel/" class="black"> Cym Diesel - Instagram</a></p>
</div>
<div class="container forms">
    <form >
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="j.doe@gmal.com"><br>
        <label for="phone">Phone:</label><br>
        <input type="tel" id="phone" name="phone" value="123-456-7890"><br>
        <label for="message">Message:</label><br>
        <textarea type="textarea" id="message" name="message"></textarea><br><br>
        <input type="submit" value="Submit">
      </form>
</div>
