<div class="container">
    <h1><%= title %></h1>
</div>
<div>
    <figure class="text-center">
        <blockquote class="blockquote">
          <p>"I find it is the small everyday deeds of ordinary folk that keep the darkness at bay."</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Gandalf <cite title="Source Title">The Hobbit</cite>
        </figcaption>
      </figure>
</div>
<div class="container box">
    <h2 class="test">Hello and Welcome! </h2>
    <p>This portfolio website is so that people can learn more about who Cymantha is and look into the projects I have worked on.</p>
    <p>If you believe I could help build your dreams, please <a href="contact" class="black">contact me</a>.</p>
</div> 

<div class="container whitebox">
    <h3>Mission Statement</h3>
    <p>It is my mission to solve problems and learn while doing so.</p>
</div> 
<div class="container">
    <button><a href="about" id="button">About Me</a></button>
    <button><a href="projects" id="button">My Projects</a></button>
</div>
