<div class="container">
    <h1><%= title %></h1>
</div>



<div class="container text-center">
    <div class="row">
      <div class="col order-first">
        <h2 class="titles">Pet Assist</h2>
        <h3 class="subTitles">SRS Group Project</h3>
        <p>
            I helped to run and organize the meetings, assign tasks to others. Helped to create the document
            and its diagrams to create a cohesive project that resulted in an A+. 
        </p>
        <img class="proPic" src="/public/content/images/Marco-winged-dog.jpg" alt="Pet Assist Logo">
      </div>
      <div class="col">
        <h2 class="titles">Northshore Dealership</h2>
        <h3 class="subTitles">Database Design Group Project</h3>
        <p>
            Managed the presentation and ERD part of the project. Helped design the concept and the database. 
        </p>
        <i class="fa-solid fa-database"></i>
      </div>
      <div class="col order-last">
        <h2 class="titles">Revolving Door</h2>
        <h3 class="subTitles">SRS Group Project</h3>
        <p>
            Started the creative process of the concept, created and implemented diagrams, organized the reports and scheduling.  
        </p>
        <i class="fa-solid fa-door-open"></i>
      </div>
    </div>
  </div>