<div class="container">
    <h1><%= title %></h1>
</div>

<ul class="container">
    <li>Database Design and manipulation</li>
    <li>Full Stack Web Development</li>
    <li>Machine Learning Engineer in Training</li>
    <li>Short Film Editing</li>
</ul>

